---
layout: page
title: "About"
description: "Hey, this is me."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        我就是我。
    </blockquote>
    我是任超。<br><br>2017年就是21岁了。<br><br>西安邮电大学计算机专业的学生，所以没错，我是IT男，我是程序猿。目前在西邮移动应用开发实验室iOS组，iOS开发。<br><br>我并不知道人生会怎么发展，可是我爱这个世界，我先把命运掌握在自己手里。<br><br>我爱摄影，可是没钱买单反。我喜欢用手机拍，设备不重要，重要的是方寸之间你想传达的内容。前期的构图并没有学过，但是我有我的想法。我喜欢后期，LR最喜欢。手机里必不可少的就是VSCO、Snapseed，我爱那些滤镜，不同的风格所给予给照片不同的情感。微博有很多图片，喜欢就看看吧哈哈。<br><br>我爱篮球，爱NBA，从小学就开始了疯狂的篮球生涯。小学买的体育画报，经历了绿凯三巨头的冠军赛季、买过呆呆的21号mini球衣、科比的海报、孙悦的海报。经历了麦迪惊为天人的35秒13分，五年级看的那场火箭湖人，最后三分钟的比赛好像三十分钟才播完。大心脏就服科比。没错，迟到了。现在喜欢勇士，水花的三分、麦基的扣篮、李文美如画的后仰跳投、一哥的罚球哈哈。顺风看水花，逆风看格林，绝境看一哥没毛病吧。希望有朝一日去奥克兰的现场感受一下。<br><br>我也爱好看的设计，我有我的想法。我也爱美食，想尝遍世界的美食，生而为人啊。我爱音乐，网易云音乐的死忠粉，喜欢各种音乐，让我颅内高潮的都是好音乐！让我心为之一颤的也是好音乐！歌词让人感动的更是好音乐!<br>    <br>我所期待的未来，应该是：不加班但积极上进的工作，有属于自己的时间，比如夜生活，舒适的生活环境，女朋友和狗狗啊哈哈，有很多兄弟球友，一言不合就约球，再到夜市吃一顿烧烤，和女朋友溜着狗狗吃抹茶。和女友穿情侣AJ啊哈哈。和最好的朋友说走就走，去旅行，去拍照，去感受不一样的人文和地域风情。父母都健康快乐，常去看看他们，常让他们来玩。<br><br>我想这一切都要自己不停的奋斗去创造。“二字开头的年纪，要对得起自己。”<br><br>摘一段喜欢的话分享给你们：
    <blockquote>
        <br>因为害怕自己并非明珠而不敢刻苦琢磨，又因为有几分相信自己是明珠，而不能与瓦砾碌碌为伍，遂逐渐远离世间，疏避人群，结果在内心不断地用愤懑和羞怒饲育着自己懦弱的自尊心。世上每个人都是驯兽师，而那匹猛兽，就是每人各自的性情。对我而言，猛兽就是这自大的羞耻心了。老虎正是它。我折损自己，施苦妻儿，伤害朋友。末了，我就变成了这副与内心一致的模样。<br><br>如今想起来，我真是空费了自己那一点仅有的才能，徒然在口头上卖弄着什么“人生一事不为则太长，欲为一事则太短”的警句，可事实是，唯恐暴露才华不足的卑怯的畏惧，和厌恶钻研刻苦的惰怠，就是我的全部了。但远比我缺乏才华，可由于专念磨砺而成就堂堂诗家的，也颇不乏其人。成为老虎后的今天，我才总算看到了这一点。<br>
    <p style="text-align:right;">
        —— <a href="http://mp.weixin.qq.com/s?__biz=MzAxNDY1Mzk5Mw==&mid=401481391&idx=1&sn=9dd9f4ba180e3c8dc4d0842284e114f3#rd">中岛敦《山月记》
    </a>
    </p>
    </blockquote>

    祝你得意幸福。

</div>

<!-- English Version -->
<div class="en post-container">
   

    <p>
	love is not supposed to be cute
    </p>

    <p>
    love is raw and destructive

    </p>



</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
